# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Temporary files created by editors
*~

# Cgo object files
*.o

# Compiled object files, e.g., for cgo
*.a

# Folders to ignore
vendor/
tmp/

# Environment variables
.env